.parallax {

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home1 {
  /* The image used */
  background-image: url("../images/home1.png");
}

.home2 {
width: 100%;
}
